<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <h1>Idea Box</h1>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <h3>Latest Ideas</h3>
      <div id="latest-ideas">
      </div>
    </div>
    <div class="col-sm-4">
      <button name="button-fetch" class="btn btn-default pull-right">Fetch Ideas</button>
    </div>
    <div class="col-sm-2"></div>
  </div>
